
.app-container {
  display: grid;
  grid-template-columns: 100px auto;
  overflow: hidden;
  height: 100vh;
}

.app-content {
  grid-column: 2;
  overflow: auto;
  height: 95vh;
  padding-bottom: 15px;
}

app-global-toolbar {
  grid-column-start: 1;
  grid-column-end: 3;
}

app-action-toolbar {
  grid-column: 1;
}


