<div class="component-container">
  <div class="header">
    <div class="header-title">Settings Window</div>
    <div class="version"><div class="version-title">Software version:</div><div class="version-number">0.0.1</div></div>
    <div></div>
  </div>
  <div class="dynamic-settings-window">
    <div class="settings-general">
      <div class="settings-row1"><div>Default download location:</div><input type="text" name="DownloadDefault" placeholder="Default Download Location"/></div>
      <div class="settings-row2">Preffered torrent client:
        <select name="TorrentClient">
          <option value="qbittorent">qBittorrent</option>
          <option value="deluge">Deluge</option>
          <option value="rutorrent">ruTorrent</option>
          <option value="transmission">Transmission</option>
        </select>
      </div>
      <div class="settings-row3"><div>Torrent client port number:</div><input type="text" name="torrentport" placeholder="Port Number" /></div>
      <div class="settings-row4">Setting 4</div>
      <div class="settings-row5">Setting 5</div>
      <div class="settings-row6">Setting 6</div>
      <div class="settings-row7">Setting 7</div>
      <div class="settings-row8">Setting 8</div>
      <div class="settings-row9">Setting 9</div>
    </div>
    <div class="settings-downloads">

    </div>
  </div>
  <div class="footer">

  </div>
</div>
