<div class="component-container">
  <div class="header">
    <div class="header-title">Settings Window</div>
    <div class="version"><div class="version-title">Software version:</div><div class="version-number">0.0.1</div></div>
    <div></div>
  </div>
  <div class="dynamic-settings-window">
    <div class="settings-general">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat error non aliquam temporibus. Porro alias, ea necessitatibus, amet nesciunt esse quidem quaerat incidunt tenetur animi, quos aspernatur laboriosam nobis?
    </div>
    <div class="settings-downloads">

    </div>
  </div>
  <div class="footer">

  </div>
</div>
