<div class="component-container">

  <div class="torrent-list">
    <div class="torrent-item" *ngFor="let torrent of torrents">
      <div class="torrent-title"><P>{{torrent.name}}</P></div>
      <div class="torrent-progress">
        <div [ngStyle]="{width: calculateProgress(torrent.progress)}"></div>
      </div>
      <div class="torrent-details">
        <div><label>Status</label><P>{{torrent.currentState}}</P></div>
        <div><label>Remaining</label><P>{{torrent.sizeLeft}}</P></div>
        <div><label>Total Size</label><P>{{torrent.totalSize}}</P></div>
        <div><label>Download Speed</label><P>{{torrent.dl_speed}}</P></div>
        <div><label>Upload speed</label><P>{{torrent.up_speed}}</P></div>
        <div><label>ETA</label><P>{{torrent.eta}}</P></div>
        <div><label>Ratio</label><P>{{torrent.ratio}}</P></div>
        <div><label>Seeds</label><P>{{torrent.num_seeds}}&nbsp;({{torrent.num_complete}})</P></div>
        <div><label>Peers</label><P>{{torrent.num_leechs}}&nbsp;({{torrent.num_incomplete}})</P></div>
      </div>
      <div class="torrent-options">
        <button (click)="startStopTorrent(torrent.hash)">Stop/Start</button>
        <button (click)="openTorrentDeleteWindowButtonClick(torrent.hash)">Delete</button>
      </div>
    </div>
  </div>

  <div class="window-container" *ngIf="showNewTorrentWindow">
    <div class="window">
      <h1>Add a Torrent</h1>
      <app-file-upload class="new-torrent-upload"></app-file-upload>
      <div class="new-torrent-textbox">
        <i class="fa fa-tag"></i>
        <input type="text" placeholder="Label" />
      </div>
      <div class="window-btn-container">
        <button class="window-btn-submit" (click)="submitNewTorrent()">Submit</button>
        <button class="window-btn-close" (click)="closeNewTorrentWindowButtonClick()">Close</button>
      </div>
    </div>
  </div>

  <div class="window-container" *ngIf="showTorrentDeleteWindow">
    <div class="window">
      <h1>Remove torrent</h1>
      <label class="delete-label">
        <input type="checkbox" class="delete-checkbox" [(ngModel)]="permaDeleteTorrent">Remove torrent and Data
      </label>
      <div class="window-btn-container">
        <button class="window-btn-submit" (click)="removeTorrentButtonClick()">Submit</button>
        <button class="window-btn-close" (click)="closeTorrentDeleteWindowButtonClick()">Close</button>
      </div>
    </div>
  </div>

</div>
