<div class="component-container">
  <div class="content">
      <div class="torrent-item" *ngFor="let torrent of torrents">
        <h2>{{torrent.name}}</h2>
        <div class="torrent-details">
          <div><label>Status: </label><P>{{torrent.currentState}}</P></div>
          <div><label>Remaining : </label><P>{{torrent.sizeLeft}}</P></div>
          <div><label>Total Size : </label><P>{{torrent.totalSize}}</P></div>
          <div><label>Progress : </label><P>{{torrent.progress}}</P></div>
        </div>
        <div class="torrent-options">
          <button>Stop/Start</button>
          <button>Delete</button>
        </div>
      </div>
  </div>
</div>
