@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.toolbar-container {
  display: grid;
  background-color: #333;
  grid-template-columns: auto 135px;
  text-decoration: none;
}

.menu-items-item:hover {
  background-color: #00750a
}

.toolbar-Logout:hover {
  background-color: #ff0000
}

.toolbar-fixture {
  position: fixed;
  width: 100%;
}

.menu-left {
  grid-column: 1;
  display: flex;
  width: 400px;
  color: white;
}

.menu-right {
  grid-column: 2;
  display: flex;
  color: white;
}

.menu-items-item {
  width: 70px;
  text-align: center;
  padding: 7px 10px;
  margin:0;
  
}

a {
  text-decoration: none;
  color: white;
  font-size:13px;
}

.toolbar-Logout {
  background-color: #EE3C4C;
  width: 70px;
  text-align: center;
  padding: 7px 10px;
}

.menu-items-spacer {
  border-left: solid;
  border-color: #4F4F4F;
  border-width: 1px;
}

i {
  font-size:30px;
}

