<div class="toolbar-fixture">
  <div class="toolbar-container">
    <div class="menu-left">

      <div class="menu-items-item"><a (click)="Home()" href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></div>
      <div class="menu-items-spacer"></div>
      <div class="menu-items-item"><a (click)="movies()" href="#"><i class="fa fa-film" aria-hidden="true"></i>Movies</a></div>
      <div class="menu-items-spacer"></div>
      <div class="menu-items-item"><a (click)="tvshows()" href="#"><i class="fa fa-television" aria-hidden="true"></i>Shows</a></div>
      <div class="menu-items-spacer"></div>
      <div class="menu-items-item"><a (click)="torrents()" href="#"><i class="fa fa-download" aria-hidden="true"></i>Torrents</a></div>

    </div>
    <div class="menu-right">
      
      <div class="menu-items-item"><a (click)="settings()" href="#"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></div>
      <div class="menu-items-spacer"></div>
      <div class="toolbar-Logout"><a (click)="logout()" href=#><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></div>

    </div>
  </div>
</div>
