<div class="toolbar-fixture">
  <div class="toolbar-container">
    <div class="menu-left">
      <div class="menu-items-item"><a (click)="movies()" href="#">Movies</a></div>
      <div class="menu-items-spacer"></div>
      <div class="menu-items-item"><a (click)="tvshows()" href="#">Tv Shows</a></div>
      <div class="menu-items-spacer"></div>
      <div class="menu-items-item"><a (click)="torrents()" href="#">Torrents</a></div>
    </div>
    <div class="menu-right">
      <div class="menu-items-item"><a (click)="settings()" href="#">Settings</a></div>
      <div class="menu-items-spacer"></div>
      <div class="toolbar-Logout"><a (click)="logout()" href=#>Logout</a></div>
    </div>
  </div>
</div>
